[alias]
	all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
[user]
	email = sommerfeld.sebastian@gmail.com
	name = sebastian
[core]
	excludesfile = /home/sebastian/.gitignore
	autocrlf = input
[credential]
	helper = cache --timeout=3600
[pull]
	rebase = false
